* {
    margin: 0;
    padding: 0;
}

body {

    background-position: center;
    background-color: #EAFDFC;
    background-image: url(bg.png);
}

.main-div {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 400px;
    padding: 90px 20vw;
    padding-bottom: 10px;
    background-color: #62CDFF;
    background-image: url(section-bg.png);
}

.main-div h1 {
    font-family: 'Rubik Iso', cursive;
    font-size: 80px;
    color: #ffffff;
}

.main-div p {
    font-family: 'Fredoka One', cursive;
    color: #ffffff;
}

.wave {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.wave svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 166px;
}

.wave .shape-fill {
    fill: #bcecfa;
}


.section-2 {
    font-family: 'Fredoka One', cursive;
    color: gray;
    padding-top: 10%;
    padding-left: 20px;
    letter-spacing: 2px;
    line-height: 30px;
    margin-bottom: 40px;
    margin-top: 10px;
}


.section-2 h4 {
    color: gray;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 10px;
    letter-spacing: 4px;
    padding-bottom: 10%;
}

.section-2 .span-1 {
    color: rgb(73, 2, 105);
}

.section-2 .span-2 {
    color: rgb(105, 2, 2);
}

.pg-2-h1 {
    font-family: 'Fredoka One', cursive;
    color: gray;
    padding-bottom: 10px;
}

.section-3 {
    font-family: 'Fredoka One', cursive;
    color: #fff;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #62CDFF;
    background-image: url(section-bg.png);
}


.section-3 h3 {
    padding-bottom: 10px;
    padding-top: 10px;
}

.section-3 h4 {
    padding-bottom: 10%;
}

.game-pic {
    width: 60%;
    margin-top: 10px;
    margin-bottom: 20px;
    border-radius: 10%;
}

.h4-2 {
    padding-left: 40px;
    padding-right: 40px;
    margin-bottom: 10px;
    margin-top: 10px;
    letter-spacing: 2px;
}

.section-4 {
    font-family: 'Fredoka One', cursive;
    color: gray;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 10px;
    letter-spacing: 4px;
    padding-bottom: 20px;
}

.section-4 h2 {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
    padding-top: 30px;
    letter-spacing: 2px;
}

.section-4 h4 {
    padding-bottom: 20px;
    letter-spacing: 2px;
    padding-left: 10px;
    padding-right: 10px;
}

.section-4 img {
    width: 300px;
    border-radius: 25%;
    padding-top: 20px;
    margin-bottom: 20%;

}

.sasuke-k {
    margin-left: 20px;
}

.footer {
    background-image: url(section-bg.png);
    padding-top: 50px;
    padding-bottom: 20%;
}

.footer h2 {
    font-family: 'Rubik Iso', cursive;
    padding-top: 10%;
    padding-bottom: 20px;
}

.footer h4 {
    font-family: 'Fredoka One', cursive;
}


.main-h1 {
    font-size: 80px;
    color: #fff;
    text-align: center;
    -webkit-animation: glow 1s ease-in-out infinite alternate;
    -moz-animation: glow 1s ease-in-out infinite alternate;
    animation: glow 1s ease-in-out infinite alternate;
  }
  
  @-webkit-keyframes glow {
    from {
      text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #88c7f1, 0 0 40px #88c7f1, 0 0 50px #88c7f1, 0 0 60px #88c7f1, 0 0 70px #88c7f1;
    }
    to {
      text-shadow: 0 0 20px #fff, 0 0 30px #5bbafa, 0 0 40px #5bbafa, 0 0 50px #5bbafa, 0 0 60px #5bbafa, 0 0 70px #5bbafa, 0 0 80px #5bbafa;
    }
}


.footer-h {
    color: #fff;
    text-align: center;
    -webkit-animation: glow 1s ease-in-out infinite alternate;
    -moz-animation: glow 1s ease-in-out infinite alternate;
    animation: glow 1s ease-in-out infinite alternate;
  }
  
  @-webkit-keyframes glow {
    from {
      text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #88c7f1, 0 0 40px #88c7f1, 0 0 50px #88c7f1, 0 0 60px #88c7f1, 0 0 70px #88c7f1;
    }
    to {
      text-shadow: 0 0 20px #fff, 0 0 30px #5bbafa, 0 0 40px #5bbafa, 0 0 50px #5bbafa, 0 0 60px #5bbafa, 0 0 70px #5bbafa, 0 0 80px #5bbafa;
    }
  }